body {
    margin: 0;
}

.diver {
    position: relative;
}

.traffic-pane {
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.info-pane-opened .traffic-pane {
    margin-right: 300px;
}

.info-pane {
    position: absolute;
    max-height: 100vh;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #ddd;
    display: none;
    width: 300px;
}

.selected-traffic {
    background-color: #ddd;
}

.info-pane-opened .info-pane {
    display: block;
}

.raw-traffics-header {
    padding: 10px;
    background-color: #eee;
    margin: 0 0 15px 0;
}

.traffic-group-header {
    padding: 10px;
    margin: 0 0 15px 0;
}

.traffic-group-title {
    display: inline;
    padding: 0;
    margin: 0;
}

.edit-buttons {
    float: right;
}

.remove-button {
    border: 0;
    border-radius: 2px;
    padding: 4px 6px;
}

.dive-button,.info-button {
    padding: 0 6px;
    border: 0;
    border-radius: 2px;
}

.ReactTable {
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}

.ReactTable .rt-td {
    text-overflow: clip;
}
