body {
    margin: 0;
}

.diver-app {
    padding-top: 25px;
    height: 100vh;
    box-sizing: border-box;

    &.message-bar-shown {
        padding-top: 50px;
    }
}

.app-bar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
}

.menu-bar {
    top: 0;
}

.message-bar {
    top: 25px;
    padding: 0 10px;

    .message {
        margin: 0;
        line-height: 25px;
    }

    .warning {
        color: red;
    }
}

.menu-button {
    border: 0;
    margin: 0;
    background-color: transparent;
    padding: 2px 12px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    color: #5a5a5a;
    outline: none;

    &.selected {
        border-bottom: 2px solid cornflowerblue;
    }

    &:hover {
        color: #333;
        background-color: #e5e5e5;
    }
}

.traffic-view {
    position: relative;
    height: 100%;

    .traffic-pane {
        height: 100%;
        overflow-y: scroll;
    }

    .info-pane {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #ddd;
        display: none;
        width: 300px;
        overflow: auto;
    }

    &.info-pane-opened {
        .traffic-pane {
            margin-right: 300px;
        }

        .info-pane {
            display: block;
        }
    }

    .ReactTable {
        border-left: none;
        border-right: none;
        margin-bottom: 15px;
        font-family: sans-serif;
        font-size: 12px;

        .rt-td {
            line-height: 20px;
            padding: 5px;
            text-overflow: clip;
        }
    }

    .diver-button {
        border: 0;
        border-radius: 2px;
        padding: 0 6px;
        outline: none;
        height: 20px;
        line-height: 20px;
        cursor: pointer;

        &.selected {
            font-weight: bold;
        }
    }

    .diver-check {
        margin: 0 5px 0 0;
        height: 20px;
        width: 20px;
        flex: none;
    }
}

.traffic-pane {
    .raw-traffics-header {
        padding: 10px;
        background-color: #eee;
        margin: 0 0 15px 0;
    }

    .traffic-group-header {
        padding: 10px 5px 10px 10px;
        margin: 0 0 15px 0;
    }

    .traffic-group-title {
        display: inline;
        padding: 0;
        margin: 0;
    }

    .selected-traffic {
        background-color: #ddd;
    }

    .edit-buttons {
        float: right;

        .diver-button {
            margin-left: 5px;
        }
    }

    .ReactTable .data-header-wrapper {
        padding: 0;
    }

    .data-header {
        position: relative;
        padding: 5px;

        .data-move {
            font-weight: bold;
            line-height: 15px;
            position: absolute;
            top: 5px;
        }

        .data-move-left {
            left: 0;
        }

        .data-move-right {
            right: 0;
        }
    }

    .label-header {
        font-weight: bold;
    }
}

.info-pane {
    .info-pane-menu {
        height: 20px;
        border-bottom: 1px solid #aaa;
        padding: 10px;
        text-align: right;
    }

    .info-pane-menu-button {
        margin-left: 5px;
    }

    .info-pane-content {
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .section {
        padding: 10px 0;

        .section-header {
            margin: 0;
            padding-bottom: 10px;
            font-size: 14px;
            height: 20px;
            line-height: 20px;
        }

        .section-list {
            margin: 0;
            padding: 0;
            padding-bottom: 5px;
            list-style: none;
        }

        .section-flex-row {
            display: flex;
            width: 100%;
            margin-bottom: 5px;
        }

        .section-button {
            margin-right: 5px;
            width: 20px;
            min-width: 20px;
        }

        .section-label {
            height: 20px;
            line-height: 20px;
            margin: 0 5px 0 0;
            font-size: 12px;
            font-weight: normal;
            flex: none;
        }

        .section-input {
            flex: 1 1 100%;
            margin: 0;
            padding: 0 0 0 5px;
            border: none;
            outline: none;
        }

        .section-select {
            height: 20px;
            box-sizing: border-box;
            max-width: 100%;

            &.buttoned {
                max-width: calc(100% - 25px);
            }
        }
    }
}

.rule-info {
    .rule-info-header {
        padding-bottom: 10px;
        line-height: 20px;
        height: 20px;
        word-break: break-all;
    }

    .rule-name {
        display: inline;
        font-size: 16px;
    }

    .rule-name-button {
        margin-left: 5px;
    }

    .rule-name-input {
        border: 0;
        width: 100%;
        padding: 0;
        height: 20px;
    }

    .filters {
        .filter-name {
            margin: 0;
            padding-right: 5px;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            font-weight: normal;
            flex: none;
        }

        .react-autosuggest__container {
            position: relative;
            line-height: 20px;
            height: 20px;
            flex: 1 1 100%;
        }

        .react-autosuggest__suggestions-container {
            overflow: hidden;
            position: absolute;
            width: 100%;
            background: #fff;
            z-index: 1;
            top: 100%;
            box-sizing: border-box;

            &.react-autosuggest__suggestions-container--open {
                border: 1px solid #666;
                border-top-color: #bbb;
                height: 200px;
                overflow: auto;
            }
        }

        .react-autosuggest__suggestions-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            cursor: pointer;
        }

        .react-autosuggest__suggestion {
            padding: 2px 5px;

            &.react-autosuggest__suggestion--highlighted {
                background: #eee;
            }
        }

        .react-autosuggest__input {
            width: 100%;
            border: 1px solid transparent;
            border-bottom: none;
            box-sizing: border-box;
            padding: 0;
            padding-left: 5px;
            font-size: 12px;
            outline: none;
            height: 20px;

            &.react-autosuggest__input--open {
                border-radius: 0;
                border: 1px solid #666;
                border-bottom: none;
            }
        }
    }

    .labels {
        .label-item {
            padding: 5px 5px 0 5px;
            border: 1px solid #bbb;
            margin-bottom: 5px;
        }

        .label-row {
            border-bottom: 1px solid #bbb;
            padding-bottom: 5px;
        }

        .label-label {
            font-weight: bold;
        }

        .namespace-select {
            margin-right: 5px;
            flex: 1 1 100%;
            max-width: calc((100% - 30px) / 2);
        }

        .data-name-select {
            flex: 1 1 100%;
            max-width: calc((100% - 30px) / 2);
        }
    }

    .processors {
        .ns-label {
            color: red;
        }
    }
}

.traffic-info {
    .info-header-button {
        float: right;
    }

    .info-value {
        word-break: break-all;
    }

    .section-label.data-name-label {
        font-weight: bold;
    }

    .section-label.data-value-label {
        height: auto;
        flex: 1 1 100%;
        word-break: break-all;
    }

    .rule-select {
        margin-bottom: 5px;
    }

    .url-value.collapsed {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 20;
        -webkit-box-orient: vertical;
    }
}

.rule-view {
    padding: 20px;

    .rule-config {
        font-size: 14px;
        font-family: inherit;
        background-color: #dfdfdf;
        padding: 20px;
        margin: 0;
        border: 1px solid #aaa;
        overflow: auto;
    }
}

.processor-view {
    padding: 20px;

    .processor-row {
        display: flex;

        .processor-button {
            margin-left: 10px;
        }
    }

    .processor-name {
        margin: 20px 0 5px 0;
    }

    .warning {
        color: red;
        margin: 0;
    }

    .processor-ns {
        margin: 5px 0;
    }

    .processor-url {
        font-size: 14px;
        font-family: sans-serif;
        display: inline-block;
        padding: 10px;
        border: 1px solid #aaa;
        box-sizing: border-box;
        height: 40px;
        flex: 1;

        &:visited {
            color: blue;
        }
    }

    .processor-url-display {
        background-color: #dfdfdf;
    }

    .processor-button {
        border: 1px solid #777;
        border-radius: 2px;
        padding: 0 6px;
        outline: none;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-size: 14px;
        min-width: 70px;
    }

    .add-processor {
        margin-top: 40px;
    }

    .add-processor-ns {
        border: 1px solid #aaa;
        padding: 0 10px;
        font-size: inherit;
    }
}
