body {
    margin: 0;
    min-width: 750px;
}

.diver-app {
    padding-top: 25px;
    height: 100vh;
    box-sizing: border-box;

    &.message-bar-shown, &.hint-bar-shown {
        padding-top: 50px;
    }

    &.message-bar-shown.hint-bar-shown {
        padding-top: 75px;
    }
}

.app-bar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    z-index: 100;
}

.menu-bar {
    top: 0;
}

.message-bar {
    top: 25px;
    padding: 0 10px;

    .warning {
        color: red;
    }
}

.hint-bar-shown .message-bar {
    top: 50px;
}

.hint-bar {
    top: 25px;
    padding-left: 10px;

    .hint {
        color: blue;
    }
}

.tutorial-link {
    margin-right: 5px;
    color: blue;
}

.message {
    margin: 0;
    line-height: 25px;
}

.menu-button {
    border: 0;
    margin: 0;
    background-color: transparent;
    padding: 2px 12px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    color: #5a5a5a;
    outline: none;
    text-decoration: none;
    border-radius: 0;

    &.selected {
        border-bottom: 2px solid cornflowerblue;
    }

    &:hover {
        color: #333;
        background-color: #e5e5e5;
    }

    &.side-button {
        float: right;
    }
}

.pane-top-menu {
    height: 30px;
    box-sizing: border-box;
}

.pane-top-menu-left {
    text-align: left;

    .pane-top-menu-button {
        margin-right: 5px;
    }
}

.pane-top-menu-right {
    text-align: right;

    .pane-top-menu-button {
        margin-left: 5px;
    }
}

.pane-section {
    padding: 5px;
    border-bottom: 1px solid #aaa;

    .section-header {
        margin: 0 0 5px;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
    }

    .section-list {
        margin: 0 0 5px;
        padding: 0;
        list-style: none;
    }

    .section-flex-row {
        display: flex;
        width: 100%;
        margin-bottom: 5px;
    }

    .section-button {
        margin-right: 5px;
        width: 20px;
        min-width: 20px;
    }

    .section-label {
        height: 20px;
        line-height: 20px;
        margin: 0 5px 0 0;
        font-size: 12px;
        font-weight: normal;
        flex: none;
    }

    .section-input {
        flex: 1 1 100%;
        margin: 0;
        padding: 0 0 0 5px;
        border: none;
        outline: none;
    }

    .section-select {
        height: 20px;
        box-sizing: border-box;
        max-width: 100%;

        &.buttoned {
            max-width: calc(100% - 25px);
        }
    }
}

.pane-section:last-child {
    border-bottom: 0;
}

.diver-button {
    border: 0;
    border-radius: 2px;
    padding: 0 6px;
    outline: none;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    background-color: #c0c0c0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    font-weight: normal;

    &.selected {
        font-weight: bold;
    }
}

.traffic-group-header {
    display: flex;
    padding: 5px;
    height: 20px;
    line-height: 20px;
}

.traffic-group-title {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.traffic-group-buttons {
    margin-left: 5px;
    flex: 1;

    .traffic-group-local-button {
        float: left;
    }

    .traffic-group-buttons-group {
        float: right;
    }

    .diver-button {
        margin-left: 5px;
    }
}

.traffic-view {
    position: relative;
    height: 100%;

    .traffic-pane {
        height: 100%;
        overflow-y: scroll;
    }

    .info-pane {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #ddd;
        display: none;
        width: 300px;
        overflow: auto;
    }

    &.info-pane-opened {
        .traffic-pane {
            margin-right: 300px;
        }

        .info-pane {
            display: block;
        }
    }

    .ReactTable {
        border-left: none;
        border-right: none;
        margin-bottom: 15px;
        font-family: sans-serif;
        font-size: 12px;

        .rt-td {
            line-height: 20px;
            padding: 5px;
            text-overflow: clip;
        }
    }

    .diver-check {
        margin: 0 5px 0 0;
        height: 20px;
        flex: none;
    }
}

.traffic-pane {
    .raw-traffics-header {
        background-color: #eee;
    }

    .empty-traffic-group {
        padding-bottom: 15px;
    }

    .traffic-counts {
        margin-left: 5px;
        min-width: 40px;
    }

    .traffic-group-controls {
        display: flex;
        padding: 3px 5px;
    }

    .traffic-group-item {
        margin-left: 10px;
    }

    .traffic-group-check {
        line-height: 20px;
        height: 20px;
        margin: 0 5px 0 0;
    }

    .traffic-group-filter {
        box-sizing: border-box;
        border: 1px solid #ccc;
        width: 120px;
    }

    .traffic-group-paginate {
        margin-left: 10px;
    }

    .selected-traffic {
        background-color: #ddd;
    }

    .ReactTable .data-header-wrapper {
        padding: 0;
    }

    .data-header {
        position: relative;
        padding: 5px;

        .data-move {
            font-weight: bold;
            line-height: 15px;
            position: absolute;
            top: 5px;
            height: 15px;
        }

        .data-move-left {
            left: 0;
        }

        .data-move-right {
            right: 0;
        }
    }

    .label-header {
        font-weight: bold;
    }
}

.rule-info {
    .rule-info-header {
        line-height: 20px;
        word-break: break-all;
        overflow: hidden;
    }

    .rule-name {
        display: inline-block;
        font-size: 12px;
        width: calc(100% - 50px);
        margin: 0;
    }

    .rule-name-button {
        float: right;
    }

    .rule-name-input {
        border: 0;
        width: 100%;
        padding: 0;
        height: 20px;
    }

    .filters {
        .filter-name {
            margin: 0;
            padding-right: 5px;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            font-weight: normal;
            flex: none;
        }

        .react-autosuggest__container {
            position: relative;
            line-height: 20px;
            height: 20px;
            flex: 1 1 100%;
        }

        .react-autosuggest__suggestions-container {
            overflow: hidden;
            position: absolute;
            width: 100%;
            background: #fff;
            z-index: 1;
            top: 100%;
            box-sizing: border-box;

            &.react-autosuggest__suggestions-container--open {
                border: 1px solid #666;
                border-top-color: #bbb;
                height: 200px;
                overflow: auto;
            }
        }

        .react-autosuggest__suggestions-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            cursor: pointer;
        }

        .react-autosuggest__suggestion {
            padding: 2px 5px;

            &.react-autosuggest__suggestion--highlighted {
                background: #eee;
            }
        }

        .react-autosuggest__input {
            width: 100%;
            border: 1px solid transparent;
            border-bottom: none;
            box-sizing: border-box;
            padding: 0;
            padding-left: 5px;
            font-size: 12px;
            outline: none;
            height: 20px;

            &.react-autosuggest__input--open {
                border-radius: 0;
                border: 1px solid #666;
                border-bottom: none;
            }
        }
    }

    .labels {
        .label-item {
            padding: 5px 5px 0 5px;
            border: 1px solid #bbb;
            margin-bottom: 5px;
        }

        .label-row {
            border-bottom: 1px solid #bbb;
            padding-bottom: 5px;
        }

        .label-label {
            font-weight: bold;
        }

        .namespace-select {
            margin-right: 5px;
            flex: 1 1 100%;
            max-width: calc((100% - 30px) / 2);
        }

        .data-name-select {
            flex: 1 1 100%;
            max-width: calc((100% - 30px) / 2);
        }
    }

    .processors {
        .ns-label {
            color: red;
        }
    }
}

.traffic-info {
    .info-header-button {
        margin-left: 5px;
        float: right;
    }

    .info-value {
        word-break: break-all;
    }

    .section-label.data-name-label {
        font-weight: bold;
    }

    .section-label.data-value-label {
        height: auto;
        flex: 1 1 100%;
        word-break: break-all;
    }

    .rule-select {
        margin-bottom: 5px;
    }

    .url-value.collapsed {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 20;
        -webkit-box-orient: vertical;
    }
}

.config-view {
    position: relative;
    height: 100%;

    .config-view-wrapper {
        height: 100%;
    }

    .menu-pane {
        width: 200px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ddd;
        overflow: auto;
    }

    .menu-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        padding: 5px;
        cursor: pointer;

        &.selected {
            font-weight: bold;
        }

        &:hover {
            background-color: #ccc;
        }
    }

    .content-pane {
        margin-left: 200px;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }

    .inspect-traffic {
        display: flex;
        padding: 5px;
        flex: 2;
    }

    .inspect-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 5px;

        &:last-child {
            padding-right: 0;
        }
    }

    .inspect-column-head {
        display: flex;
        margin-bottom: 5px;
    }

    .inspect-header {
        flex: 1;
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
    }

    .inspect-text-button {
        margin-left: 5px;
    }

    .inspect-text {
        width: 100%;
        flex: 1;
        box-sizing: border-box;
        resize: none;
        background: #fff;
        outline: none;

        &:read-only {
            background: #eee;
        }
    }

    .inspect-text-error {
        color: red;
    }
}

.rule-view {
    .import-error-message {
        margin: 0 0 5px;
        font-size: 12px;
        color: red;
    }

    .rule-config {
        padding: 5px;
    }

    .rule-config-json {
        font-size: 12px;
        font-family: inherit;
        background-color: #dfdfdf;
        padding: 20px;
        margin: 5px;
        border: 1px solid #aaa;
        overflow: auto;
    }
}

#import-rule {
    opacity: 0;
    width: 1px;
}

.processor-view {
    .traffic-group-header {
        background-color: #eee;
    }

    .processor-config {
        padding: 5px;

        &.local {
            flex: 1;
        }
    }

    .processor-url {
        font-size: 12px;
        font-family: sans-serif;
        color: blue;

        &:visited {
            color: blue;
        }
    }

    .processor-url-input {
        width: 100%;
        box-sizing: border-box;
        height: 25px;
        font-size: 12px;
    }

    .processor-ns-input {
        height: 20px;
        width: 150px;
        box-sizing: border-box;
    }

    .processor-code-input {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        background: #fff;

        &:read-only {
            background: #eee;
        }
    }

    .invalid {
        color: red;
    }

    .processor-error {
        padding: 5px;
        color: red;
    }

    .inspect-hint {
        padding: 5px;
    }

    .inspect-hint-title {
        margin: 0 0 10px 0;
        font-size: 12px;
    }

    .inspect-steps {
        margin: 0;
        padding-left: 15px;
        display: none;

        &.inspect-steps-shown {
            display: block;
        }
    }

    .inspect-step-desc {
        margin: 5px 0;
    }

    .inspect-hint-button {
        display: inline-block;
        width: 20px;
        padding: 0;
        height: 20px;
        border-radius: 10px;
        background: #eee;
        color: #888;
        border-color: #ccc;
        outline: none;

        &:active {
            border-style: solid;
        }
    }
}
